name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: typescript-assistant ci
        run: |
          npm ci
          npm run ci
        env:
          CI: true
